@model IEnumerable<Student_Management_System.Models.BorrowBook>

@{
    ViewData["Title"] = "BorrowBook";
}

<h1>Book Requests</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="text-primary">
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.RequestStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                    <a class ="btn btn-warning" asp-action="Edit" asp-route-id="@item.BorrowID">Edit</a> 
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.BorrowID">Details</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BorrowID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
